<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>App</title>
  </head>
  <body>
    <ul>
      <a href='/mma'>MMA fighters</a>
    </ul>

    <h1>{{message}}</h1>
  </body>
</html>